{% extends 'base.html' %}

{% block title %}
Admission List
{% endblock %}

{% block content %}
    <div>

    <h1>Admission List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Admission ID</th>
                <th>Patient Name</th>
                <th>Admission Date</th>
                <th>Discharge Date</th>
                <th>Diagnosis</th>
                <th>Doctor Name</th>
            </tr>
        </thead>
        <tbody>
            {% for admission in admissions %}
                <tr>
                    <td>{{ admission.admission_id }}</td>
                    <td>{{ admission.patient.name }}</td>
                    <td>{{ admission.admission_date|date:"F d, Y" }}</td>
                    <td>{{ admission.discharge_date|default:"N/A"|date:"F d, Y" }}</td>
                    <td>{{ admission.diagnosis }}</td>
                    <td>{{ admission.doctor.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'patient-list' %}">Back to Patient List</a>
</div>
{% endblock %}
