{% extends 'base.html' %}

{% block title %}
    Insurance List
{% endblock %}

{% block content %}
    <h1>Insurance List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Insurance Company</th>
                <th>Policy Number</th>
                <th>Valid From</th>
                <th>Valid To</th>
            </tr>
        </thead>
        <tbody>
            {% for insurance in insurances %}
                <tr>
                    <td>{{ insurance.patient.name }}</td>
                    <td>{{ insurance.insurance_company }}</td>
                    <td>{{ insurance.policy_number }}</td>
                    <td>{{ insurance.valid_from }}</td>
                    <td>{{ insurance.valid_to }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No insurances available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
